---
import UserPanel from '../components/UserPanel.astro';
import Layout from '../layouts/layout.astro';

// script section or code fence
const pages = ['Home', 'BLog', 'About', 'Contact'];
const currentUser = {
  name: 'Jhon Doe',
  isAdmin: true
};
---

<!-- template section -->
<Layout pageTitle='Astro Demo'>
  <h1>Astro Demo</h1>
  <button>Click me</button>
  <ul>{pages.map((page) => <li>{page}</li>)}</ul>
  <UserPanel 
    userName={currentUser.name} 
    userIsAdmin={currentUser.isAdmin}  
    adminPanelTitle="Name from parent"
  />
</Layout>



<script src="../../scripts/index.ts"></script>
<script src="/external-script.js" is:inline defer></script>
